.c-item {
    padding: 20px;
    
    width: 25%;
    margin: 10px;
    display: flex;
    background-color: #243c5f;
    background: url('../../img/sm-nebula.png') no-repeat;
    background-size: 450px;
  }
  
  .c-desc-title{
      font-weight: 400;
  }
  
  .c-shadow {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 1);
  }
  
  .c-image {
    flex: 1;
    width: 30%;
    height: 100%;
    margin-right: 20px;
    border: 1px solid #ccc;
  }
  
  .c-desc {
    flex: 2;
    color: #ccc;
  }
  
  .c-tag-list {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  
  .c-tag {
    font-size: 14px;
    padding: 2px 5px;
    margin-right: 5px;
    border-radius: 5px;
  }
  
  .c-tag-race {
    background-color: #67210c;
  }
  
  .c-tag-planet {
    background-color: #356faa;
  }
  
  .c-tag-era {
    background-color: #688340;
  }