.m-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.m-planet {
  width: 40%;
  padding-top: 50px;
  padding-right: 20px;
  margin-right: 80px;
}
.m-planet-img {
  width: 90%;
  padding: 50px;
  cursor: pointer;
}
.m-message {
  width: 30%;
}
.m-main-subtitle {
  color: #aaa;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  text-align: center;
}
.m-main-title {
  font-size: 35px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  text-align: center;
  border: 1px solid #aaa;
}
.m-desc {
  color: #aaa;
  margin-top: 20px;
}
.m-button {
    font-size: 15px;
  margin-top: 20px;
  border: none;
  padding: 10px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #aaa;
  transition: all ease 0.5s;

  &:hover {
    background-color: white;
  }
}
